.km-multiselect {
  width: 200px;
}

.km-multiselect-display-none {
  display: none;
}
.km-multiselect-selectBox {
  position: relative;
}

.km-multiselect-selectBox select {
  width: 100%;
  font-weight: bold;
  height: 30px;
}

.km-multiselect-overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.km-checkboxes {
  border: 1px #dadada solid;
  position: absolute;
  background: #ffffff;
  padding: 0 5px 5px 5px;
  z-index: 1;
}

.km-checkboxes label {
  display: block;
}

.km-checkboxes label:hover {
  background-color: #1e90ff;
}

.km-multiselect-option-search {
  width: 100%;
  margin: 10px 0;
  height: 27px;
}

.km-multiselect-check-all-tick,
.km-multiselect-uncheck-all-tick {
  cursor: pointer;
  font-size: 13px;
}
.km-multiselect-check-all-tick {
  float: left;
}
.km-multiselect-uncheck-all-tick {
  float: right;
}